---
import "../styles/global.css";
import CodeEditor from "../components/CodeEditor";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JavaScript Sandbox | Corsfix</title>
    <!-- Tailwind CSS classes are used instead of custom styles -->
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body>
    <div
      class="relative min-h-screen bg-gradient-to-b from-indigo-50/30 to-indigo-100/50"
    >
      <!-- Faint dotted background -->
      <div
        class="absolute inset-0 z-0 opacity-50"
        style="background-image:radial-gradient(circle at 1px 1px,rgba(0,0,0,0.2) 1px,transparent 1px);background-size:20px 20px;"
      >
      </div>

      <div class="relative flex flex-col p-4 max-w-3xl mx-auto">
        <!-- Header -->
        <header class="flex items-center justify-between pb-8 pt-4">
          <div class="flex items-center gap-2">
            <img
              src="/logo.png"
              alt="Corsfix Logo"
              class="h-8 w-8 border rounded-full"
            />
            <div class="font-semibold text-xl m-0">Corsfix</div>
          </div>
          <a href="https://corsfix.com" class="hover:underline"
            >&larr; Back to main site</a
          >
        </header>

        <!-- Main Content -->
        <main class="mx-auto w-full max-w-3xl">
          <h1 class="mb-2 text-center text-4xl font-semibold mt-0">
            JavaScript Sandbox
          </h1>
          <p class="mt-4 mb-8 text-center text-lg">
            Run JavaScript code and send CORS error free network request using
            Corsfix CORS Proxy.
          </p>

          <CodeEditor client:load />
        </main>

        <!-- Footer -->
        <footer class="mt-8 text-center">
          <p class="text-sm my-1">
            Javascript Sandbox powered by <a
              href="http://codemirror.net/"
              target="_blank"
              rel="noopener noreferrer"
              class="underline text-blue-600 hover:text-blue-800">CodeMirror</a
            >
          </p>
          <p class="text-sm my-1">Corsfix &copy; 2025</p>
        </footer>
      </div>
    </div>
  </body>
</html>
