---
import "../styles/global.css";
import CodeEditor from "../components/CodeEditor";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JavaScript Sandbox | Corsfix</title>
    <!-- Tailwind CSS classes are used instead of custom styles -->
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body class="bg-gray-900 text-gray-100">
    <div
      class="relative min-h-screen bg-gradient-to-b from-gray-900 to-gray-800"
    >
      <!-- Faint dotted background -->

      <div class="relative flex flex-col p-4 max-w-3xl mx-auto">
        <!-- Header -->
        <header class="flex items-center justify-between pb-8 pt-4">
          <div class="flex items-center gap-2">
            <img
              src="/logo.png"
              alt="Corsfix Logo"
              class="h-8 w-8 border border-gray-600 rounded-full"
            />
            <div class="font-semibold text-xl m-0">Corsfix</div>
          </div>
          <a
            href="https://corsfix.com"
            class="hover:underline text-gray-300 hover"
            >&larr; Back to corsfix.com</a
          >
        </header>

        <!-- Main Content -->
        <main class="mx-auto w-full max-w-3xl">
          <h1 class="mb-2 text-center text-4xl font-semibold mt-0">
            JavaScript Sandbox
          </h1>
          <p class="mt-4 mb-8 text-center text-lg text-gray-300">
            Run JavaScript code and send CORS-free network request using Corsfix
            CORS Proxy.
          </p>

          <CodeEditor client:load />
        </main>

        <!-- Footer -->
        <footer class="mt-8 text-center">
          <p class="text-sm my-1 text-gray-400">
            All of the code is executed client-side in the browser. Editor by <a
              href="http://codemirror.net/"
              target="_blank"
              rel="noopener noreferrer"
              class="underline text-blue-400 hover:text-blue-300">CodeMirror</a
            >. Source Code on <a
              href="http://github.com/corsfix/sandbox"
              target="_blank"
              rel="noopener noreferrer"
              class="underline text-blue-400 hover:text-blue-300">GitHub</a
            >.
          </p>
          <p class="text-sm my-1 text-gray-400">
            Corsfix &copy; {new Date().getFullYear()}
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
